.nav {
    position: fixed;
    top: 0;
    padding: 20px;
    width: 100%;
    height: 30px;
    z-index: 100;

    transition-timing-function: ease-in;
    transition: all 0.5s;
}
.nav__contents{
    display: flex;
    justify-content: space-between;
}

.nav__logo{
    position: fixed;
    left: 0px;
    top: 20px;
    width: 80px;
    cursor: pointer;
    object-fit: contain;
    padding-left: 30px;
}

.nav__avatar{
    cursor: pointer;
    position: fixed;
    right: 20px;
    width: 30px;
}
.nav__black{
    background-color: #111;
}